body{
    margin: 0px;
    padding: 0px;
    min-height:100vh;
}

*{
    font-family:'Roboto',sans-serif;
}


/* header */
.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 50px;
}

.header .logo{
    font-size: 28px;
    font-weight:700;
    display:flex;
    justify-content: center;
    margin-left: 5rem;

}

.header .header-link{
    font-size: 18px;
    display:flex;
    gap:10px;
    margin-right: 5rem;
}

a{
    text-decoration: none;
    color: rgb(211, 219, 220);
}


/* Hero */
.hero{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3em 10em;
    gap:40px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    /* flex-grow: 0; */
    gap:10px;
}

.hero-main-text{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    align-self: flex-start;
}

.hero-img{
    height:350px;
    width:500px;
    background-color: rgb(166, 163, 160);
    align-self: center;
    color: rgb(248, 243, 243);
    font-size: 12px;
    flex:0 0 auto;
    /* padding:7% 12%; */
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-btn{
    color: white;
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
}


/* Information */
.info{
    display: flex;
    flex-direction: column;
    gap:30px;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    margin:2em 10em;
}
.info-header{
    font-size:36px;
    font-weight: 900;
}

.info-body{
    display:flex;
    gap:20px;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
}
.info-item{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-around;
    align-items: flex-start;
}

.info-box{
    border: 4px solid  #3882f6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

/* quote */
.quote{
    background-color: #e5e7eb;
    padding:100px 300px;
    font-size: 32px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-author{
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

/* call to acton */
.cta{
    background-color: #3882f6;
    display: flex;
    color: white;
    padding:2em ;
    justify-content: space-evenly;
    border: #3882f6;
    border-radius: 10px;
    margin:2em 10em;
}

.cta-btn{
    background-color: #3882f6;
    color: #ffffff;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}

.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 2em;
    text-align: center;
}
